name: CI/CD for Elasticsearch Setup

on:
  push:
    branches:
      - elasticsearch
  pull_request:
    branches:
      - elasticsearch

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Ansible
        shell: bash
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Run Ansible Playbook
        run: ansible-playbook -i hosts elasticsearch.yml

      - name: Check Elasticsearch
        run: curl -X GET "localhost:9200"

  tag:
    runs-on: ubuntu-latest
    needs: setup

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Generate Changelog
        run: |
          echo "# Changelog" > CHANGELOG.md
          echo "## [v1.0.0] - $(date +'%Y-%m-%d')" >> CHANGELOG.md
          echo "- Initial release of Elasticsearch setup" >> CHANGELOG.md
          git add CHANGELOG.md
          git commit -m "Add changelog for v1.0.0"
          git push origin main
          
      - name: Create annotated tag
        run: |
          git config --global user.email "{{ secrets.EMAIL }}"
          git config --global user.name "{{ secrets.USERNAME }}"
          git tag -a v1.0.0 -m "Initial release of Elasticsearch setup"
          git push origin v1.0.0
